@import "../../styles/variables";

.joinRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  color: $text-color;
}
